click==6.6
cloudpickle==0.2.1
cymem==1.31.2
Flask==0.11.1
functools32==3.2.3.post2
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
msgpack-python==0.4.8
murmurhash==0.26.4
nel==0.3.3
numpy==1.11.2
pathlib==1.0.1
plac==0.9.6
preshed==0.46.4
progressbar2==3.10.1
pymongo==3.3.1
python-crfsuite==0.8.4
python-dateutil==2.6.0
python-utils==2.0.0
redis==2.10.5
scikit-learn==0.18
scipy==0.18.1
semver==2.7.2
six==1.10.0
spacy==1.2.0
sputnik==0.9.3
thinc==5.0.8
ujson==1.35
Werkzeug==0.11.11
